.email-editor {
  margin-bottom: 16px;
  background: transparent;

  * {
    pointer-events: initial;
  }

  .rdw-option-wrapper {
    border: 1px solid rgba(113, 119, 144, 0.25);
    background: transparent;
  }

  .rdw-editor-toolbar {
    border: 1px solid rgba(113, 119, 144, 0.25);
    background: #bbbbbb;
  }

  .rdw-dropdown-wrapper {
    border: 1px solid rgba(113, 119, 144, 0.25);
    background: transparent;
    color: black;

    &:hover {
      background: transparent;
    }
  }

  .rdw-dropdown-optionwrapper {
    border: 1px solid rgba(113, 119, 144, 0.25);
    background: rgba(36, 39, 59);
    color: white;

    &:hover {
      background: rgba(36, 39, 59);
      box-shadow: none;
    }
  }

  .rdw-dropdownoption-default {
    background: transparent;

    &:hover {
      background: rgba(113, 119, 144, 0.25);
    }
  }

  .rdw-dropdownoption-active {
    background: rgba(113, 119, 144, 0.25);
  }

  .rdw-colorpicker-modal {
    height: 210px;
  }

  .rdw-emoji-modal, .rdw-image-modal, .rdw-colorpicker-modal, .rdw-link-modal, .rdw-embedded-modal {
    padding: 6px;
    border: 1px solid rgba(113, 119, 144, 0.25);
    background: rgba(36, 39, 59);
    box-shadow: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
  }

  .rdw-colorpicker-modal-style-label, .rdw-link-modal-label, .rdw-embedded-modal-header-option, .rdw-colorpicker-modal-style-label-active, .rdw-image-modal-header-label-highlighted, .rdw-image-modal-header-label, .rdw-image-modal-header-option, .rdw-embedded-modal-header-label {
    border-bottom: none;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
  }

  input {
    border: 1px solid rgba(113, 119, 144, 0.25);
    background: rgba(113, 119, 144, 0.1);
    color: rgb(176, 183, 210);
    font-family: "Poppins", sans-serif;
    font-size: 12px;

    &::placeholder {
      color: rgb(130, 136, 153);
    }
  }

  button {
    border: 1px solid rgba(113, 119, 144, 0.25);
    background: transparent;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 12px;

    &:hover {
      border: 1px solid rgba(113, 119, 144, 1);
      box-shadow: none;
    }

    &:disabled {
      background: transparent;
      color: white;
    }
  }

  label {
    display: flex;
  }

  .rdw-colorpicker-modal-style-label-active, .rdw-image-modal-header-label-highlighted {
    border-bottom: 1px solid white;
  }

  .rdw-colorpicker-modal-options {
    justify-content: center;
    margin: 0;
  }

  .rdw-image-modal-header {
    margin: 0;
  }

  .rdw-option-active {
    border: 1px solid rgba(113, 119, 144, 0.7);
    background: rgba(113, 119, 144, 0.2);
    box-shadow: none;
  }

  .rdw-image-modal-upload-option {
    background: transparent;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
  }

  &__textarea {
    min-height: 200px;
    padding: 0 8px;
    border: 1px solid rgba(113, 119, 144, 0.25);
    background: rgba(113, 119, 144, 0.1);
    border-radius: 4px;
    color: white;
    cursor: text;
  }
}