.terminal-prompt {

  &__input {
    &:after {
      color: white;
      content: '|';
      animation: blink 1s infinite;
    }

    &--no-cursor:after {
      content: '';
    }
  }

  @keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    51%, 100% {
      opacity: 0;
    }
  }
}