.terminal-prompt {

  &__input {

    &:after {
      animation: blink 1s infinite;
      color: white;
      content: '|';
    }

    &--no-cursor:after {
      content: '';
    }
  }

  @keyframes blink {

    0%, 50% {
      opacity: 1;
    }

    51%, 100% {
      opacity: 0;
    }
  }
}