$fade-out-duration: 750ms;

.space-backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  margin: 0;
  background: black;

  &__stars {
    z-index: 3;
    width: 100vw;
    height: 100%;
    padding: 0;
    background: transparent;
  }

  &-enter {
    opacity: 1;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity ease-in-out $fade-out-duration;
  }

  &-enter-done {
    opacity: 1;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity ease-in-out $fade-out-duration;
  }

  &-exit-done {
    opacity: 0;
  }
}
