@import '../../variables';

.polygon-warp-backdrop {
  height: 100vh;
  width: 100vw;
  background: $primary-background-color;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;

  &__polygons {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: transparent;
    pointer-events: all;
  }
}