@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  background: #090A0F;
  color: rgb(153, 155, 165);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  width: 6px;
  margin-bottom: 14px;
  background: transparent;
  border-radius: 4px;
}

@media screen and (max-width: 780px), screen and (max-height: 600px) {

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent !important;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    width: 0;
    height: 0;
    background: transparent !important;
  }

  ::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
    background: transparent !important;
  }
}

html {
  height: -webkit-fill-available;
}

body {
  overflow: hidden;
  height: 100%;
  min-height: -webkit-fill-available;
  padding: 0;
  margin: 0;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}